/* Variables */

:root {
  --darkGreen: #264653;
  --lightGreen: #2A9D8F;
  --yellow: #E9C46A;
  --lightOrange: #F4A261;
  --darkOrange: #E76F51;
  --lightGrey: #F1F2F3;

  --primaryFont: 'Montserrat'
}

/* Base Styles */

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

html {
  font-size: 125%;
  letter-spacing: 1px;
  background-color: var(--lightGrey);
}

body {
  font-family: var(--primaryFont);
  font-weight: normal;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
blockquote,
a,
button {
  font-family: var(--primaryFont);
  font-weight: normal;
  margin: 0;
}


ul,
li,
a,
input,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  letter-spacing: 0px;
}

/* Styling SVGs */

.bikeSVG {
  width: 50vw;
  height: 50vh;
}

/* Display Map Styles */

.displayMapContainer {
  height: 100vh;
  width: calc(100vw - 250px);
  position: relative;
}

.resetButton {
  position: absolute;
  bottom: 200px;
  left: 200px;
}

/* NavStyles */


.sideNav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  /* left: 0; */
  background-color: var(--lightGreen);
  overflow-x: hidden;
  transition: 0.25s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

}

.sideNav>li {
  color: var(--lightOrange);
  font-size: 2rem;
  transition: 0.25s;
}

.active {
  color: var(--darkOrange);

}

/* .sideNav>li:hover,
:focus {
  color: var(--darkOrange);
  font-size: 2rem;
  transition: 0.25s;
} */



.pageTitle {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  height: 100px;
  color: var(--darkOrange);
}

.burgerButton {
  position: absolute;
  right: 20px;
  top: 15px;
  z-index: 2;
  opacity: 0;
}

/* MainContent Styles */

.mainContent {
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 100px);
}

/* Search Bar Styling */

.stationAndRegionSelect {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}


/* Displaying Station Information Styling */

.stationInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: fit-content;
  width: fit-content;
  background-color: var(--lightGreen);
  border: 2px var(--darkOrange) solid;
  border-radius: 15px;
  padding: 20px 20px;
  margin: 0 auto;
  margin-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.stationInformation>* {
  padding: 15px 0;
}

.mapModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width:900px) {

  .sideNav {
    width: 200px;
  }

  .mainContent {
    margin-left: 200px;
  }

  .displayMapContainer {
    width: calc(100% - 200px);
  }

}

@media (max-width:700px) {

  .sideNav {
    opacity: 0;
    left: -100%;
  }

  .sideNavActive {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: var(--lightGreen);
    overflow-x: hidden;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    left: 0%;
  }

  .sideNavActive>li {
    color: var(--lightOrange);
    font-size: 2rem;
    transition: 0.25s;
  }

  .mainContent {
    margin-left: 0;
  }

  .pageTitle {
    opacity: 1;
  }

  .displayMapContainer {
    width: 100%;
  }

  .burgerButton {
    opacity: 1;
  }

  .stationAndRegionSelect {
    width: 90%;
  }

  .headerSection {
    background-color: var(--lightGreen);
  }

}